name: documentation
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.40.2

      - name: Render
        run: pixi run ci

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: _site
